@model PuntoVentaMVC.Models.ProductosCategorias

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProductosCategorias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categorias.C_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorias.C_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productos.P_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.P_Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Folio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
